@model IndexItemVM

@{
    int slNumber = 0; 
}

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Category Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListAllItem != null)
        {
            @foreach (var item in Model.ListAllItem)
            {
                <tr>
                    <td>@(++slNumber)</td>
                    <td>@item.Name</td>
                    <td>@item.Status</td>
                    <td>@item.CategoryName</td>
                    <td><a asp-action="Edit" asp-route-id="@item.ID">Edit</a>  | <a asp-action="Delete" asp-route-id="@item.ID">Delete</a></td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="5">No Data Found.</td></tr>
        }

    </tbody>
</table>